<app-tab-header [backGroundColor]="backGroundColor" subTitle="Favourites"></app-tab-header>
<ion-content>
    <div class="container d-flex flex-column px-0">
        <div class="row m-0 mt-15">
            <div class="menu shadow px-0 pb-5 mb-15">
                <div class="photo">
                    <ion-img [src]="menuBlankImage"></ion-img>
                </div>
                <h3 class="font-15 color-shark font-weight-bold text-left text-overflow mt-5 mx-5 mb-0">Chrispy Chicken</h3>
                <p class="font-13 color-french-gray text-overflow mt-5 mx-5 mb-0">Korean BBQ</p>
                <h3 class="font-15 color-shark font-weight-bold text-left ion-float-right mx-5 mt-10 mb-0">25.00</h3>
                <ion-icon name="star"></ion-icon>
            </div>
            <div class="menu shadow px-0 pb-5 mb-15">
                <div class="photo">
                    <ion-img [src]="menuBlankImage"></ion-img>
                </div>
                <h3 class="font-15 color-shark font-weight-bold text-left text-overflow mt-5 mx-5 mb-0">Chrispy Chicken</h3>
                <p class="font-13 color-french-gray text-overflow mt-5 mx-5 mb-0">Korean BBQ</p>
                <h3 class="font-15 color-shark font-weight-bold text-left ion-float-right mx-5 mt-10 mb-0">25.00</h3>
                <ion-icon name="star"></ion-icon>
            </div>
            <div class="menu shadow px-0 pb-5 mb-15">
                <div class="photo">
                    <ion-img [src]="menuBlankImage"></ion-img>
                </div>
                <h3 class="font-15 color-shark font-weight-bold text-left text-overflow mt-5 mx-5 mb-0">Chrispy Chicken</h3>
                <p class="font-13 color-french-gray text-overflow mt-5 mx-5 mb-0">Korean BBQ</p>
                <h3 class="font-15 color-shark font-weight-bold text-left ion-float-right mx-5 mt-10 mb-0">25.00</h3>
                <ion-icon name="star"></ion-icon>
            </div>
            <div class="menu shadow px-0 pb-5 mb-15">
                <div class="photo">
                    <ion-img [src]="menuBlankImage"></ion-img>
                </div>
                <h3 class="font-15 color-shark font-weight-bold text-left text-overflow mt-5 mx-5 mb-0">Chrispy Chicken</h3>
                <p class="font-13 color-french-gray text-overflow mt-5 mx-5 mb-0">Korean BBQ</p>
                <h3 class="font-15 color-shark font-weight-bold text-left ion-float-right mx-5 mt-10 mb-0">25.00</h3>
                <ion-icon name="star"></ion-icon>
            </div>
            <div class="menu shadow px-0 pb-5 mb-15">
                <div class="photo">
                    <ion-img [src]="menuBlankImage"></ion-img>
                </div>
                <h3 class="font-15 color-shark font-weight-bold text-left text-overflow mt-5 mx-5 mb-0">Chrispy Chicken</h3>
                <p class="font-13 color-french-gray text-overflow mt-5 mx-5 mb-0">Korean BBQ</p>
                <h3 class="font-15 color-shark font-weight-bold text-left ion-float-right mx-5 mt-10 mb-0">25.00</h3>
                <ion-icon name="star"></ion-icon>
            </div>
            <div class="menu shadow px-0 pb-5 mb-15">
                <div class="photo">
                    <ion-img [src]="menuBlankImage"></ion-img>
                </div>
                <h3 class="font-15 color-shark font-weight-bold text-left text-overflow mt-5 mx-5 mb-0">Chrispy Chicken</h3>
                <p class="font-13 color-french-gray text-overflow mt-5 mx-5 mb-0">Korean BBQ</p>
                <h3 class="font-15 color-shark font-weight-bold text-left ion-float-right mx-5 mt-10 mb-0">25.00</h3>
                <ion-icon name="star"></ion-icon>
            </div>
            <div class="menu shadow px-0 pb-5 mb-15">
                <div class="photo">
                    <ion-img [src]="menuBlankImage"></ion-img>
                </div>
                <h3 class="font-15 color-shark font-weight-bold text-left text-overflow mt-5 mx-5 mb-0">Chrispy Chicken</h3>
                <p class="font-13 color-french-gray text-overflow mt-5 mx-5 mb-0">Korean BBQ</p>
                <h3 class="font-15 color-shark font-weight-bold text-left ion-float-right mx-5 mt-10 mb-0">25.00</h3>
                <ion-icon name="star"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>
