.mat-radio-label-content {
  font-size: 13px;
  display: flex !important;
  align-items: center;

  ion-icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 25px;
  }

  span {
    color: rgba(0, 0, 0, 0.54);
  }
}
