@for $i from 5 through 50 {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-extremely-bold {
  font-weight: 900;
}

.ios .font-weight-medium {
  font-weight: 300 !important;
}

.ios .font-weight-bold {
  font-weight: 500 !important;
}

.ios .font-weight-extremely-bold {
  font-weight: 700 !important;
}
