<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399631360839-4dh3157n0bge9seo6qubpm3cpb8gu829.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399631360839-4dh3157n0bge9seo6qubpm3cpb8gu829</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ5etabCGXV8qNPCiGatz51aRcBebaHH8</string>
	<key>GCM_SENDER_ID</key>
	<string>399631360839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grubsup.foodapp</string>
	<key>PROJECT_ID</key>
	<string>tasty-food-app-d471b</string>
	<key>STORAGE_BUCKET</key>
	<string>tasty-food-app-d471b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399631360839:ios:bc25bae3519f3dc211e262</string>
	<key>DATABASE_URL</key>
	<string>https://tasty-food-app-d471b.firebaseio.com</string>
</dict>
</plist>