<app-auth-header [backGroundColor]="backGroundColor" isSignup="true" backUrl="/login"></app-auth-header>
<ion-content>
    <div class="container h-100 d-flex flex-column">
        <form [formGroup]="form" (ngSubmit)="signup()" class="mt-35 px-20">
            <app-text-input type="text" placeholder="First Name" formControlName="first_name"></app-text-input>
            <app-text-input type="text" placeholder="Last Name" formControlName="last_name"></app-text-input>
            <app-phone-number-input placeholder="Mobile" formControlName="telephone"></app-phone-number-input>
            <app-text-input type="email" placeholder="Email" formControlName="email"></app-text-input>
            <app-text-input type="password" placeholder="Password" formControlName="password"></app-text-input>
            <app-text-input type="password" placeholder="Confirm Password"
                            formControlName="confirmPassword"></app-text-input>
            <div class="mt-20">
                <button class="btn btn-outline-burning-organge w-100 mb-10 font-weight-bold font-17" [disabled]="!form.valid">SIGN UP
                </button>
            </div>
        </form>
    </div>
</ion-content>
