<ion-content>
    <app-auth-header [backGroundColor]="serverConfig.baseColors.pistachio" [signUp]="title"
                     backUrl="/login"></app-auth-header>
    <div class="container d-flex flex-column">
        <form (ngSubmit)="signup()" [formGroup]="form" class="mt-35 px-20">
            <app-text-input [(ngModel)]="user.firstName" formControlName="firstName" placeholder="First Name"
                            type="text"></app-text-input>
            <app-text-input [(ngModel)]="user.lastName" formControlName="lastName" placeholder="Last Name"
                            type="text"></app-text-input>
            <app-phone-number-input [(ngModel)]="user.telephone" formControlName="telephone"
                                    placeholder="Mobile"></app-phone-number-input>
            <app-text-input [(ngModel)]="user.email" formControlName="email" placeholder="Email"
                            type="email"></app-text-input>
            <app-text-input [(ngModel)]="user.password" formControlName="password" placeholder="Password"
                            type="password"></app-text-input>
            <app-text-input [(ngModel)]="user.confirmPassword" formControlName="confirmPassword"
                            placeholder="Confirm Password" type="password"></app-text-input>
            <div class="mt-20">
                <button *ngIf="user.userId === ''"
                        class="btn btn-outline-burning-organge w-100 mb-10 font-weight-bold font-17">SIGN UP
                </button>
                <button *ngIf="user.userId !== ''"
                        class="btn btn-outline-burning-organge w-100 mb-10 font-weight-bold font-17">Edit
                </button>
            </div>
        </form>
    </div>
</ion-content>
