@import "../../../theme";

.swiper-slide {

}

.specials {
  border-top: solid 2px;
  border-color: $athens-gray;

  ion-slide {
    width: 185px;
    &:first-child {
      margin-left:7px !important;
    }
    display: inline-grid;
    .menu-image {
      width: 170px;
      height: 103px;
      ion-img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.categories {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;

  ion-slide {
    height: 25px;

    div {
      border: solid 2px;
      border-color: $burning-orange;
      border-radius: 18px;
    }

    .active {
      background: $burning-orange;

      h3 {
        color: white;
      }
    }

    .category-name {
      width: 165px;
    }
  }
}

.category-detail {
  ion-list {
    ion-list-header {
      padding: 0 !important;
      font-size: 15px;
      color: $burning-orange;
      font-weight: 700;
    }
    ion-item {
      --border-color: #efeff4;
      ion-avatar {
        width: 60px;
        height: 60px;
        img {
          border-radius: 8px;
        }
      }
      .main {
        .description {
          width: calc(100% - 55px);
          p {
            line-height: 15px;
            height: 45px;
            white-space: pre-line;
          }
        }
      }
      .price {
        position: absolute;
        top: 29px;
        right: 0px;
        //width: 60px;
      }
    }
  }
}
