<app-tab-header [backGroundColor]="backGroundColor" [title]="this.menuService.menu.locationName"
                isLogo="true" logout="true"></app-tab-header>
<ion-content (ionScroll)="logScrolling($event)" [scrollEvents]="true">
    <ion-refresher #refresherRef (ionRefresh)="doRefresh()" slot="fixed">
        <ion-refresher-content
                pullingIcon="chevron-down-circle-outline"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
        <!--            <ion-refresher-content></ion-refresher-content>-->
    </ion-refresher>
    <div class="container d-flex flex-column p-0">
        <div class="deliveryOpen mt-15 px-15">
            <div class="delivery float-left">
                <h2 class="font-15 color-shark font-weight-bold text-left mb-0">Delivery</h2>
                <p class="font-15 color-shark text-left">{{this.menuService.menu.delivery}}</p>
            </div>
            <div class="open float-right">
                <h2 class="font-15 font-weight-bold text-left mb-0"
                    [class.color-pistachio]="this.menuService.menu.titleOpenTimeColor === 'green'"
                    [class.color-torch-red]="this.menuService.menu.titleOpenTimeColor === 'red'">{{this.menuService.menu.titleOpenTime}}</h2>
                <p class="font-15 color-shark text-left">{{this.menuService.menu.openTime}}</p>
            </div>
        </div>
        <div *ngIf="specials.length > 0" class="specials pt-15 pb-10">
            <h2 class="font-15 color-shark font-weight-bold text-left px-15 mb-15">FEATURED ITEMS</h2>
            <ion-slides [options]="specialSlideOpts">
                <ion-slide (click)="goDetail(special.menu)" *ngFor="let special of specials;"
                           [class.mx-0]="platform.is('android')" [class.ml-10]="platform.is('ios')">
                    <div class="menu-image">
                        <ion-img
                                [src]="special.menu.menuImageUrl == null ? menuBlankImage : special.menu.menuImageUrl"></ion-img>
                    </div>
                    <h2 class="font-15 color-shark font-weight-bold text-left mt-2 mb-0">{{special.menu.menuName}}</h2>
                    <h2 class="font-15 color-french-gray font-weight-bold text-left mb-0">{{special.menu.menuPrice | currency:'GBP'}}</h2>
                </ion-slide>
            </ion-slides>
        </div>
        <div *ngIf="categories.length > 0" class="categories py-5 px-1">
            <ion-slides #slideCategory [options]="categorySlideOpts">
                <ion-slide *ngFor="let category of categories; let i = index;">
                    <div (click)="getMenu(i)"
                         [class.active]="i === scrolledIndex"
                         class="border-color-burning-orange h-100 category-name item-align-center">
                        <h3 class="font-13 color-burning-orange font-weight-bold text-left mb-0 mx-2 text-overflow">{{category.name}}</h3>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
        <div *ngIf="categoryDetails.length > 0" class="category-detail px-15">
            <ng-container *ngFor="let categoryDetail of categoryDetails; let i = index;">
                <ion-list [id]="'category_' + i">
                    <ion-list-header>
                        {{categoryDetail.name}}
                    </ion-list-header>
                    <ion-item (click)="goDetail(menu)" *ngFor="let menu of categoryDetail.menus;">
                        <ion-avatar slot="start">
                            <img [src]="menu.menuImageUrl == null ? menuBlankImage : menu.menuImageUrl" alt="menuPhoto">
                        </ion-avatar>
                        <div class="main w-100">
                            <div class="w-100">
                                <h2 class="font-15 color-shark font-weight-bold mt-5 mb-0 text-overflow">{{menu.menuName}}</h2>
                            </div>
                            <div class="description">
                                <p class="font-12 color-french-gray mt-5 mb-0">{{menu.menuDescription}}</p>
                            </div>
                        </div>
                        <h2 class="price font-15 color-burning-orange font-weight-bold text-overflow m-0">{{menu.menuPrice | currency:'GBP'}}</h2>
                    </ion-item>
                </ion-list>
            </ng-container>
        </div>
    </div>
</ion-content>
