<app-tab-header [backGroundColor]="backGroundColor" isLogo="true"
                [title]="this.menuService.menu.locationName" logout="true"></app-tab-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <div class="container d-flex flex-column p-0">
        <ion-refresher #refresherRef slot="fixed" (ionRefresh)="doRefresh($event)">
        </ion-refresher>
        <div class="deliveryOpen mt-15 px-15">
            <div class="delivery float-left">
                <h2 class="font-15 color-shark font-weight-bold text-left mb-0">Delivery</h2>
                <p class="font-15 color-shark text-left">{{this.menuService.menu.delivery}}</p>
            </div>
            <div class="open float-right">
                <h2 class="font-15 color-pistachio font-weight-bold text-left mb-0">{{this.menuService.menu.titleOpenTime}}</h2>
                <p class="font-15 color-shark text-left">{{this.menuService.menu.openTime}}</p>
            </div>
        </div>

        <div class="specials pt-15 pb-10" *ngIf="specials.length > 0">
            <h2 class="font-15 color-shark font-weight-bold text-left px-15 mb-15">FEATURED ITEMS</h2>
            <ion-slides [options]="specailSlideOpts">
                <ion-slide *ngFor="let special of specials;" (click)="goDetail(special.menu)" [class.m-0]="platform.is('android')" [class.mx-15]="platform.is('ios')">
                    <div class="menu-image">
                        <ion-img *ngIf="special.menu.menuImageUrl"></ion-img>
                    </div>
                    <h2 class="font-15 color-shark font-weight-bold text-left mt-2 mb-0">{{special.menu.menuName}}</h2>
                    <h2 class="font-15 color-french-gray font-weight-bold text-left mb-0">{{special.menu.menuPrice | currency:'GBP'}}</h2>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="categoreis py-5 px-1" *ngIf="categories.length > 0">
            <ion-slides [options]="categorySlideOpts" #slideCategory>
                <ion-slide *ngFor="let category of categories; let i = index;">
                    <div class="border-color-burning-orange h-100 category-name item-align-center"
                         [class.active]="i === scrolledIndex" (click)="getMenu(i)">
                        <h3 class="font-13 color-burning-orange font-weight-bold text-left mb-0 mx-2 text-overflow">{{category.name}}</h3>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="category-detail px-15" *ngIf="categoryDetails.length > 0">
            <ng-container *ngFor="let categoryDetail of categoryDetails; let i = index;">
                <ion-list [id]="'category_' + i">
                    <ion-list-header>
                        {{categoryDetail.name}}
                    </ion-list-header>

                    <ion-item *ngFor="let menu of categoryDetail.menus;" (click)="goDetail(menu)">
                        <ion-avatar slot="start">
                            <img [src]="menu.menuImageUrl == null ? menuBlankImage : menu.menuImageUrl">
                        </ion-avatar>
                        <div class="main w-100">
                            <div class="w-100">
                                <h2 class="font-15 color-shark font-weight-bold mt-5 mb-0 text-overflow">{{menu.menuName}}</h2>
                            </div>
                            <div class="descripton">
                                <p class="font-12 color-french-gray mt-5 mb-0">{{menu.menuDescription}}</p>
                            </div>
                        </div>
                        <h2 class="price font-15 color-burning-orange font-weight-bold text-overflow m-0">{{menu.menuPrice | currency:'GBP'}}</h2>
                    </ion-item>
                </ion-list>
            </ng-container>

        </div>
    </div>
</ion-content>
