<ion-content>
  <app-tab-header [backGroundColor]="backGroundColor" subTitle="Privacy policy" backUrl="back"></app-tab-header>
  <div class="container d-flex flex-column">
    Privacy policy
    Privacy policy
    Privacy policy
    Privacy policy
    Privacy policy
    Privacy policyPrivacy policyPrivacy policyPrivacy policy
    Privacy policyPrivacy policyPrivacy policy
    Privacy policyPrivacy policyPrivacy policy
    Privacy policy
    Privacy policy
    Privacy policy
    Privacy policy
    Privacy policy
  </div>
</ion-content>
