<div class="header-type-1">
    <ion-back-button routerDirection="back" routerLink="/login" text="Back"></ion-back-button>
</div>
<ion-content>
    <div class="container d-flex flex-column">
        <div class="mt-60 px-20">
            <h2 class="font-34 color-shark font-weight-bold text-left">Forgot password</h2>
            <p class="font-17 color-shark text-left mt-15">Enter your email address below and we'll send you an email
                with instructions on how to change your password</p>
        </div>
        <form [formGroup]="form" class="px-20 mt-25">
            <ion-item>
                <ion-input formControlName="email" name="email" placeholder="Enter your email" type="email"></ion-input>
            </ion-item>
        </form>
        <div class="mt-50 px-20">
            <button (click)="forgotPassword()"
                    class="btn btn-outline-burning-organge w-100 mb-10 font-weight-bold font-17">Send
            </button>
        </div>
    </div>
</ion-content>
