<script src="profile.page.ts"></script>
<div class="header-type-3">
    <h2 class="font-34 color-white font-weight-bold text-left position-absolute profile">Profile</h2>
    <p (click)="profileEdit()" class="font-17 color-white text-left position-absolute edit">Edit</p>
</div>
<div class="avatar shadow mx-15">
    <div class="main-avatar p-20">
        <div class="image">
        </div>
        <div class="user-info">
            <h2 class="font-17 color-shark font-weight-bold mt-10 mb-0 text-overflow">{{authService.user.firstName + ' ' + authService.user.lastName}}</h2>
            <p class="font-15 color-french-gray mt-5 text-overflow">{{authService.user.email}}</p>
        </div>
    </div>
    <div class="bottom-sign ion-justify-content-center ion-align-items-center">
        <h2 class="font-18 color-torch-red font-weight-bold m-0 text-overflow" (click)="authService.logout()">Sign
            Out</h2>
    </div>
</div>
<div class="profile-list shadow mt-20 mx-15 pt-15 pl-15">
    <a href="tel:+447833360935" class="ion-hide" id="telephone">CALL</a>
    <ion-list class="py-0">
        <ion-item (click)="goSetAddress()">
            <ion-icon [name]="profileItems[0].icon" [style.color]="profileItems[0].color"
                      [style.font-size]="profileItems[0].icon === 'help-circle' ? '35px' : '30px'"></ion-icon>
            <div>
                <h3 class="font-15 color-shark font-weight-bold mb-5 text-overflow">{{profileItems[0].title}}</h3>
                <p class="font-15 color-french-gray mb-5 text-overflow">{{profileItems[0].message}}</p>
            </div>
            <span class="font-20 color-french-gray font-weight-light"> > </span>
        </ion-item>
        <ion-item class="mt-5" (click)="goSetLocation()">
            <ion-icon [name]="profileItems[1].icon" [style.color]="profileItems[1].color"
                      [style.font-size]="profileItems[1].icon === 'help-circle' ? '35px' : '30px'"></ion-icon>
            <div>
                <h3 class="font-15 color-shark font-weight-bold mb-5 text-overflow">{{profileItems[1].title}}</h3>
                <p class="font-15 color-french-gray mb-5 text-overflow">{{profileItems[1].message}}</p>
            </div>
            <span class="font-20 color-french-gray font-weight-light"> > </span>
        </ion-item>
        <ng-container *ngFor="let item of profileItems; let i = index;">
            <ion-item *ngIf="item.title === 'Push Notifications'">
                <ion-icon [name]="item.icon" [style.color]="item.color"
                          [style.font-size]="item.icon === 'help-circle' ? '35px' : '30px'"></ion-icon>
                <h3 class="font-15 color-shark font-weight-bold mb-0 text-overflow">{{item.title}}</h3>
                <ion-toggle color="success" [checked]="isPushNotification" (ionChange)="pushStatus()"></ion-toggle>
            </ion-item>
            <ion-item (click)="goDetail(item)"
                      *ngIf="item.title !== 'Push Notifications' && item.title !== 'Address' && item.title !== 'Store Location' && i > 0">
                <ion-icon [name]="item.icon" [style.color]="item.color"
                          [style.font-size]="item.icon === 'help-circle' ? '35px' : '30px'"></ion-icon>
                <h3 class="font-15 color-shark font-weight-bold mb-0 text-overflow">{{item.title}}</h3>
                <span class="font-20 color-french-gray font-weight-light"> > </span>
            </ion-item>
        </ng-container>
    </ion-list>
</div>
