@import "../../../../theme";

.auth-header {
  height: 183px;
  width: 100%;
  background: white;

  .main-circle {
    position: absolute;
    width: 120%;
    border-radius: 45%;
    height: 250px;
    top: -67px;
    left: -10%;
  }

  .logo {
    position: absolute;
    width: 240px;
    left: calc(50% - 120px);
    height: 65px;
    top: 40px;
    background: url(../../../../assets/images/logo.png) 0 0/100% 100% no-repeat;
  }

  .signIn {
    position: absolute;
    top: 120px;
    left: 8%;
    margin: 0;
  }

  .signUp {
    position: absolute;
    top: 94.7px;
    left: 2.6%;
    margin: 0;
  }
}

