@mixin absolute_x_middle() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute_fit_parent() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin circle($size) {
  display: inline-block;
  width: $size;
  height: $size;
  min-width: $size;
  max-width: $size;
  min-height: $size;
  max-height: $size;
  border-radius: 50%;
}

@mixin pretty-scroll() {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(102, 102, 102, 0.5);
    outline: 1px solid rgba(102, 102, 102, 0.5);
  }
}

@mixin hover($color) {
  cursor: pointer;
  transition: ease background-color .3s;
  &:hover {
    background-color: $color;
  }
}

@mixin flex($segment, $size) {
  flex: 0 0 $size;
  #{$segment}: $size;
  min-#{$segment}: $size;
  max-#{$segment}: $size;
}
