@import "../../../../theme";

ion-tab-bar {
  height: 65px;
  z-index: 1;
  --border: none;
}

ion-tab-button.active {
  --padding-top: 15px;
  --padding-bottom: 15px;
  ion-icon {
    color: $emerald;
  }
}
