@import "../../../theme";

ion-tab-bar {
  height: 60px;
  border: 0px;
  background: white;
}

ion-tab-button {
  --color-focused: #fc6c35;
  --color-selected: #fc6c35;
  --background-focused: #fc6c35;
  --background-selected: #fc6c35;
  background: white;
  height: 80%;
  border-top: solid 2px transparent;

  ion-label {
    font-size: 13px;
  }

  &:focus, &:active, &:hover {
    border-top: solid 2px #fc6c35;
  }
}

ion-fab {
  bottom: 5px;
  padding: 7px;
  background: white;
  border-radius: 50%;
  margin-left: -30px;

  ion-badge {
    position: absolute;
    top: 0px;
    left: 35px;
    z-index: 200;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    --background: #00d862;
  }

  ion-fab-button {
    ion-icon {
      font-size: 30px;
    }

    --background: #fc6c35;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    --background-activated: #F84A08;
    --background-hover: #F84A08;
    --background-focused: #F84A08;
    outline: none;
  }
}
