@import "../../../theme";

ion-tab-bar {
  height: 60px;
  border: 0px;
  -webkit-box-shadow: 0 0 8px black;
  -moz-box-shadow: 0 0 8px black;
  box-shadow: 0 0 8px black;
}

ion-tab-button {
  --color-focused: #FC6C35;
  --color-selected: #FC6C35;
  height: 80%;
  ion-label {
    font-size: 13px;
  }
}

ion-fab {
  bottom: 15px;
  padding: 3px;
  background: white;
  border-radius: 50%;
  margin-left: -28px;
  box-shadow: 0px 0px 0px black, 0px -3px 10px black;

  ion-badge {
    position: absolute;
    top: -5px;
    left: 30px;
    z-index: 200;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    --background: #00d862;
  }

  ion-fab-button {
    ion-icon {
      font-size: 35px;
    }

    --background: #FC6C35;
    border: solid 1px white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    //--color: #999999;
    //--background: white;
    //--color-activated: white;
    //--color-hover: white;
    //--color-focused: white;
    //--background-activated: #FC6C35;
    //--background-hover: #FC6C35;
    //--background-focused: #FC6C35;

    --background-activated: #F84A08;
    --background-hover: #F84A08;
    --background-focused: #F84A08;
    outline: none;
  }
}
