@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();
// Define the theme.
$mat-gce: (
        50 : #eaf7f0,
        100 : #cbecd9,
        200 : #a9dfc0,
        300 : #86d2a6,
        400 : #6cc893,
        500 : #52be80,
        600 : #4bb878,
        700 : #41af6d,
        800 : #38a763,
        900 : #289950,
        A100 : #daffe7,
        A200 : #a7ffc4,
        A400 : #74ffa2,
        A700 : #5bff91,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$gce-primary: mat-palette($mat-gce);
$gce-theme: mat-light-theme($gce-primary, $gce-primary);

// Include the theme styles for only specified components.
@include angular-material-theme($gce-theme);
