/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-white: white;
  --ion-color-black: white;
  --backgroudn: white !important;
}

:host {
  background: white;
}

ion-content {
  background: white !important;
}

.container {
  background: white !important;
}

:host(.ion-activatable:hover) ion-item {
  color: red !important;
}

:host(.ion-activatable:active) ion-item {
  color: red !important;
}

ion-label {
  font-family: 'SF-UI-Display-Heavy' !important;
}

h2 {
  font-family: 'SF-UI-Display-Bold' !important;
}

p {
  font-family: 'SF-UI-Display-Regular' !important;
}

input {
  font-family: 'SF-UI-Display-Regular' !important;
}

button {
  font-family: 'SF-UI-Display-Semibold' !important;
}

h3 {
  font-family: 'SF-UI-Display-Semibold' !important;
}

ion-list-header {
  font-family: 'SF-UI-Display-Bold' !important;
}

.shadow {
  -webkit-box-shadow: inset 0 0 5px #c6bcc6 !important;
  -moz-box-shadow: inset 0 0 5px #c6bcc6 !important;
  box-shadow: inset 0 0 5px #c6bcc6 !important;
}

.bottom {
  background: white;
}

app-auth-header {
  display: contents;
}

.header-type-1 {
  width: 100%;
  height: 115.3px;
  background: $burning-orange;
}

.header-type-2 {
  width: 100%;
  height: 94px;
  background: white;
}

.header-type-3 {
  width: 100%;
  height: 216px;
  background: $pistachio;
}

position-absolute {
  position: absolute;
}

position-relative {
  position: relative;
}

ion-back-button {
  display: block;
  position: absolute;
  --icon-font-size: 24px;
  --color: var(--ion-color-white);
  top: 34px;
  left: 2%;
}

.item-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ion-item {
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --border-color: black;
}

