<ion-app>
    <div class="app-layout">
        <div [hidden]="!loading" class="loader">
            <div class="item-align-center svg-loading">
                <svg xmlns="http://www.w3.org/2000/svg" style="margin:auto;background:#fff;display:block;" width="194px"
                     height="194px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                    <g transform="translate(16.666666666666668 50)">
                        <circle cx="0" cy="0" r="8" fill="#e15b64" transform="scale(0.996846 0.996846)">
                            <animateTransform attributeName="transform" type="scale" begin="-0.36363636363636365s"
                                              calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0"
                                              keyTimes="0;0.5;1" dur="0.9090909090909091s"
                                              repeatCount="indefinite"></animateTransform>
                        </circle>
                    </g>
                    <g transform="translate(33.333333333333336 50)">
                        <circle cx="0" cy="0" r="8" fill="#f8b26a" transform="scale(0.914801 0.914801)">
                            <animateTransform attributeName="transform" type="scale" begin="-0.2727272727272727s"
                                              calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0"
                                              keyTimes="0;0.5;1" dur="0.9090909090909091s"
                                              repeatCount="indefinite"></animateTransform>
                        </circle>
                    </g>
                    <g transform="translate(50 50)">
                        <circle cx="0" cy="0" r="8" fill="#abbd81" transform="scale(0.682193 0.682193)">
                            <animateTransform attributeName="transform" type="scale" begin="-0.18181818181818182s"
                                              calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0"
                                              keyTimes="0;0.5;1" dur="0.9090909090909091s"
                                              repeatCount="indefinite"></animateTransform>
                        </circle>
                    </g>
                    <g transform="translate(66.66666666666667 50)">
                        <circle cx="0" cy="0" r="8" fill="#81a3bd" transform="scale(0.400261 0.400261)">
                            <animateTransform attributeName="transform" type="scale" begin="-0.09090909090909091s"
                                              calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0"
                                              keyTimes="0;0.5;1" dur="0.9090909090909091s"
                                              repeatCount="indefinite"></animateTransform>
                        </circle>
                    </g>
                    <g transform="translate(83.33333333333333 50)">
                        <circle cx="0" cy="0" r="8" fill="#e15b64" transform="scale(0.144402 0.144402)">
                            <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline"
                                              keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1"
                                              dur="0.9090909090909091s" repeatCount="indefinite"></animateTransform>
                        </circle>
                    </g>
                </svg>
            </div>
        </div>
        <div [hidden]="loading" class="router-output">
            <ion-router-outlet></ion-router-outlet>
        </div>
    </div>
</ion-app>
