<div class="order-header" [style.background]="backGroundColor">
    <h2 class="font-34 font-weight-extremely-bold title color-white m-0" *ngIf="title">{{title}}</h2>
    <h2 class="font-34 font-weight-extremely-bold main color-white m-0 item-align-center" *ngIf="main">{{main}}</h2>
    <h2 class="font-34 font-weight-extremely-bold sub-title color-white m-0" *ngIf="subTitle">{{subTitle}}</h2>
    <p class="font-17 font-weight-light p-close color-white m-0 p-15" *ngIf="close" (click)="back()">Close</p>
    <ion-back-button text="Back" (click)="back()" *ngIf="backUrl"></ion-back-button>
</div>
