@import "../../../../theme";

.order-header {
  width: 122%;
  height: 324px;
  margin-left: -11%;
  margin-top: -83px;
  border-radius: 40%;
  .title {
    position: absolute;
    left: 15px;
    top: 50px;
  }
  .sub-title {
    position: absolute;
    left: 15px;
    top: 98px;
  }
  .main {
    position: absolute;
    left: calc(50% - 54px);
    top: 60px;
  }
  .p-close {
    position: absolute;
    right: 0px;
    top: 45px;
  }
}
