<app-auth-header [backGroundColor]="serverConfig.baseColors.burningOrage" isLogo="true" isSignIn="true"></app-auth-header>
<ion-content>
    <div class="container h-100 d-flex flex-column">
        <form [formGroup]="form" class="px-20 mt-50">
            <app-text-input type="email" placeholder="Email" formControlName="email"></app-text-input>
            <app-text-input type="password" placeholder="Password" formControlName="password"></app-text-input>
        </form>
        <div class="mt-30">
            <button class="btn btn-outline-burning-organge w-100 mb-10 font-weight-bold font-17" (click)="signin()">SIGN IN
            </button>
            <button class="btn btn-facebook btn-outline-mariner w-100 font-weight-bold font-17" (click)="loginWithFaceBook()">
                <span class="font-30 font-weight-extremly-bold">f</span>
                CONNECT WITH FACEBOOK
            </button>
        </div>
        <div class="mt-25 px-20 item-align-center">
            <p class="label-forgot">Forgot your<span class="font-weight-bold" routerLink="/forgot-password" routerDirection="forward"> password?</span>
            </p>
        </div>
        <div class="mt-45 px-20 item-align-center">
            <p>Don't have an account? <span class="font-weight-bold" routerLink="/signup" routerDirection="forward">Sign up</span>
            </p>
        </div>
    </div>
</ion-content>
