<app-order-header [backGroundColor]="serverConfig.baseColors.burningOrage" main="Orders"></app-order-header>
<ion-content>
    <div class="container d-flex flex-column main p-15">
        <ng-container *ngIf="orders !== undefined && orders.length > 0">
            <div class="total shadow mb-10" *ngFor="let order of orders;">
                <div class="sub-total">
                    <p class="font-17 font-weight-light color-shark m-0 left">Order Number</p>
                    <p class="font-17 color-french-gray m-0 right">{{order.orderId}}</p>
                </div>
                <div class="discount">
                    <p class="font-17 font-weight-light color-shark m-0 left">Date</p>
                    <p class="font-17 color-french-gray m-0 right">{{order.date}}</p>
                </div>
                <div class="delivery">
                    <p class="font-17 font-weight-light color-shark m-0 left">Delivery</p>
                    <p class="font-17 color-french-gray m-0 right">{{order.orderTotal | currency:'GBP'}}</p>
                </div>
                <div class="div-total py-10 item-align-center">
                    <h3 class="font-24 font-weight-bold color-shark m-0 left p-0">{{order.status.statusName}}</h3>
                </div>
            </div>
        </ng-container>
    </div>
</ion-content>

