@import "../../../theme";

.total {
  height: 160px;
  border-radius: 10px;
  background: white;

  div {
    padding: 0 15px 10px 15px;
    display: flex;

    .right {
      position: absolute;
      right: 30px;
    }

    &:first-child {
      padding-top: 15px;
    }
  }

  .div-total {
    height: 50px;
    display: flex;
    border-color: $burning-orange;
    z-index: 1000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    //border-top: solid 1px $approx;
  }

  .complete-total {
    background: $pistachio;
  }

  .other-total {
    background: $burning-orange;
  }
}
