<app-order-header [backGroundColor]="serverConfig.baseColors.burningOrange" backUrl="back"
                  subTitle="Checkout"></app-order-header>
<div #main class="main shadow bg-color-white mx-15 p-20">
    <div class="row mx-0">
        <div class="mode">
            <button (click)="delivery()" [class.active]="isSelected === 'delivery'" class="btn delivery p-0">
                <span class="item-align-center">DELIVERY</span>
            </button>
            <button (click)="pickup()" [class.active]="isSelected === 'collection'" class="btn pickup p-0">
                <span class="item-align-center">PICK-UP</span>
            </button>
        </div>
    </div>
    <div *ngIf="isSelected === 'delivery'" class="row mx-0 mt-15">
        <div class="w-100 row m-0">
            <p class="font-15 color-french-gray text-left mb-5">Select Delivery Day / Time</p>
        </div>
        <div *ngIf="deliveryTimes !== undefined" class="w-100 row m-0">
            <ion-select (ionChange)="deliveryDateChanged()" [(ngModel)]="deliveryTime.displayDate"
                        [selectedText]="deliveryTime.displayDate"
                        class="mr-10" multiple="false" name="selectCode"
                        placeholder="Tap to select.." required>
                <ion-select-option *ngFor="let time of deliveryTimes; let i = index;" [id]="'delivery_' + i"
                                   [value]="time.weekDay + ' - ' + time.day">
                    {{time.weekDay}} - {{time.day}}
                </ion-select-option>
            </ion-select>
            <ion-select (ionChange)="deliveryTimeChanged()" [(ngModel)]="deliveryTime.displayOrderTime"
                        [selectedText]="deliveryTime.displayOrderTime" multiple="false" name="selectCode"
                        placeholder="Tap to select.." required>
                <ion-select-option *ngFor="let time of deliveryTimes[deliveryTime.id].times" value="{{time.showTime}}">
                    {{time.showTime}}
                </ion-select-option>
            </ion-select>
        </div>
    </div>
    <div *ngIf="isSelected === 'collection'" class="row mx-0 mt-15">
        <div class="w-100 row m-0">
            <p class="font-15 color-french-gray text-left mb-5">Select Pickup Day / Time</p>
        </div>
        <div *ngIf="pickupTimes !== undefined" class="w-100 row m-0">
            <ion-select (ionChange)="pickupDateChanged()" [(ngModel)]="pickupTime.displayDate"
                        [selectedText]="pickupTime.displayDate"
                        class="mr-10" multiple="false" name="selectCode"
                        placeholder="Tap to select.." required>
                <ion-select-option *ngFor="let time of pickupTimes; let i = index;" [id]="'delivery_' + i"
                                   [value]="time.weekDay + ' - ' + time.day">
                    {{time.weekDay}} - {{time.day}}
                </ion-select-option>
            </ion-select>
            <ion-select (ionChange)="pickupTimeChanged()" [(ngModel)]="pickupTime.displayOrderTime"
                        [selectedText]="pickupTime.displayOrderTime" multiple="false" name="selectCode"
                        placeholder="Tap to select.." required>
                <ion-select-option *ngFor="let time of pickupTimes[pickupTime.id].times" value="{{time.showTime}}">
                    {{time.showTime}}
                </ion-select-option>
            </ion-select>
        </div>
    </div>
    <div class="row mx-0 mt-15" *ngIf="isSelected === 'delivery'">
        <div class="w-100 row m-0">
            <h2 class="font-15 font-weight-bold color-shark text-left mb-5">DELIVERY ADDRESS</h2>
        </div>
        <div class="w-100 row m-0 p-10 delivery-address">
            <div class="w-100 row m-0">
                <h3 class="font-13 color-burning-orange text-left mb-5">ADDRESS #1</h3>
            </div>
            <div class="w-100 row m-0">
                <p class="font-17 color-shark text-left mb-5">{{authService.user.deliveryAddress}}</p>
            </div>
        </div>
    </div>
    <div class="row mx-0 mt-15">
        <ion-textarea [(ngModel)]="comment" [placeholder]="isSelected === 'delivery' ? 'Add Delivery Note' : 'Add Pick-Up Note'"></ion-textarea>
    </div>
    <div class="row mx-0 mt-15">
        <div class="w-100 row m-0">
            <h2 class="font-15 font-weight-bold color-shark text-left mb-5">PAYMENT</h2>
        </div>
        <div *ngIf="this.savedCards !== undefined" class="w-100 row mx-0 mb-10">
            <ion-list class="row p-0 m-0 w-100">
                <ion-item (click)="selectCard(item)" *ngFor="let item of this.savedCards.data;" class="w-100">
                    <div class="row w-100 m-0 main">
                        <div>
                            <ion-img
                                    [src]="serverConfig.serverURL + serverConfig.debitCardURL + item.card.brand + '.svg'"></ion-img>
                        </div>
                        <div class="ml-10">
                            <p *ngIf="item.card.brand !== 'amex'" class="font-17 color-shark text-left m-0">**** ****
                                **** {{item.card.last4}}</p>
                            <p *ngIf="item.card.brand === 'amex'" class="font-17 color-shark text-left m-0">**** ******
                                *{{item.card.last4}}</p>
                        </div>
                        <ion-checkbox [checked]="item.isChecked === true" class="m-0" color="light"></ion-checkbox>
                    </div>
                    <ion-icon (click)="deleteCard(item)" [size]="30" name="trash"></ion-icon>
                </ion-item>
            </ion-list>
        </div>
        <div class="w-100 row m-0">
            <form (ngSubmit)="saveCard()" class="w-100 row m-0" id="formCard">
                <div class="row m-0 w-100 mb-5 item-align-center">
                    <div class="w-100" id="cardElement"></div>
                </div>
                <div class="w-100 m-0">
                    <div class="color-torch-red" id="card-errors" role="alert"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="bottom shadow row m-0 -w100">
    <div (click)="pay()" class="pay row w-100 mx-20 my-25 item-align-center bg-color-burning-orange">
        <h3 class="font-17 color-white font-weight-bold ion-text-md-capitalize m-0">
            Pay {{menuService.order.currentPrice | currency:'GBP'}}</h3>
    </div>
</div>
