<app-order-header [backGroundColor]="serverConfig.baseColors.burningOrage" backUrl="back" subTitle="Checkout"></app-order-header>
<div #main class="main shadow bg-color-white mx-15 p-20">
    <div class="row mx-0">
        <div class="mode">
            <button class="btn delivery p-0" [class.active]="isSelected === 'delivery'" (click)="delivery()">
                <span class="item-align-center">DELIVERY</span>
            </button>
            <button class="btn pickup p-0" [class.active]="isSelected === 'collection'"  (click)="pickup()">
                <spanco class="item-align-center">PICK-UP</spanco>
            </button>
        </div>
    </div>
    <div class="row mx-0 mt-15" *ngIf="isSelected === 'delivery'">
        <div class="w-100 row m-0">
            <p class="font-15 color-french-gray text-left mb-5">Select Delivery Day / Time</p>
        </div>
        <div class="w-100 row m-0" *ngIf="deliveryTimes !== undefined">
            <ion-select class="mr-10" [(ngModel)]="deliveryTime.displayDate" name="selectCode"
                        multiple="false" placeholder="Tap to select.." [selectedText]="deliveryTime.displayDate"
                        (ionChange)="deliveryDateChanged()" required >
                <ion-select-option *ngFor="let time of deliveryTimes; let i = index;" [id]="'delivery_' + i" [value]="time.weekDay + ' - ' + time.day">
                    {{time.weekDay}} - {{time.day}}
                </ion-select-option>
            </ion-select>

            <ion-select [(ngModel)]="deliveryTime.displayOrderTime" name="selectCode"
                        multiple="false" placeholder="Tap to select.." [selectedText]="deliveryTime.displayOrderTime" (ionChange)="deliveryTimeChanged()" required >
                <ion-select-option *ngFor="let time of deliveryTimes[deliveryTime.id].times" value="{{time.showTime}}">
                    {{time.showTime}}
                </ion-select-option>
            </ion-select>
        </div>
    </div>
    <div class="row mx-0 mt-15" *ngIf="isSelected === 'collection'">
        <div class="w-100 row m-0">
            <p class="font-15 color-french-gray text-left mb-5">Select Pickup Day / Time</p>
        </div>
        <div class="w-100 row m-0" *ngIf="pickupTimes !== undefined">
            <ion-select class="mr-10" [(ngModel)]="pickupTime.displayDate" name="selectCode"
                        multiple="false" placeholder="Tap to select.." [selectedText]="pickupTime.displayDate"
                        (ionChange)="pickupDateChanged()" required >
                <ion-select-option *ngFor="let time of pickupTimes; let i = index;" [id]="'delivery_' + i" [value]="time.weekDay + ' - ' + time.day">
                    {{time.weekDay}} - {{time.day}}
                </ion-select-option>
            </ion-select>

            <ion-select [(ngModel)]="pickupTime.displayOrderTime" name="selectCode"
                        multiple="false" placeholder="Tap to select.." [selectedText]="pickupTime.displayOrderTime" (ionChange)="pickupTimeChanged()" required >
                <ion-select-option *ngFor="let time of pickupTimes[pickupTime.id].times" value="{{time.showTime}}">
                    {{time.showTime}}
                </ion-select-option>
            </ion-select>
        </div>
    </div>
    <div class="row mx-0 mt-15">
        <div class="w-100 row m-0">
            <h2 class="font-15 font-weight-bold color-shark text-left mb-5">DELIVERY ADDRESS</h2>
        </div>
        <div class="w-100 row m-0 p-10 delivery-address">
            <div class="w-100 row m-0">
                <h3 class="font-13 color-burning-orange text-left mb-5">ADDRESS #1</h3>
            </div>
            <div class="w-100 row m-0">
                <p class="font-17 color-shark text-left mb-5">{{authService.user.deliveryAddress}}</p>
            </div>
        </div>
    </div>

    <div class="row mx-0 mt-15">
        <ion-textarea placeholder="Add Delivery Note" [(ngModel)]="comment"></ion-textarea>
    </div>

    <div class="row mx-0 mt-15">
        <div class="w-100 row m-0">
            <h2 class="font-15 font-weight-bold color-shark text-left mb-5">PAYMENT</h2>
        </div>
        <div class="w-100 row mx-0 mb-10" *ngIf="this.savedCards !== undefined">
            <ion-list class="row p-0 m-0 w-100">
                <ion-item class="w-100" *ngFor="let item of this.savedCards.data;" (click)="selectCard(item)">
                    <div class="row w-100 m-0 main">
                        <div>
                            <ion-img  [src]="serverConfig.serverURL + serverConfig.debitCardURL + item.card.brand + '.svg'"></ion-img>
                        </div>
                        <div class="ml-10">
                            <p *ngIf="item.card.brand !== 'amex'" class="font-17 color-shark text-left m-0">**** **** **** {{item.card.last4}}</p>
                            <p *ngIf="item.card.brand === 'amex'" class="font-17 color-shark text-left m-0">**** ****** *{{item.card.last4}}</p>
                        </div>
                        <ion-checkbox color="light" class="m-0" [checked]="item.isChecked === true"></ion-checkbox>
                    </div>
                    <ion-icon name="trash" [size]="30" (click)="deleteCard(item)"></ion-icon>
                </ion-item>
            </ion-list>
        </div>
        <div class="w-100 row m-0">
            <form class="w-100 row m-0" id="formCard" (ngSubmit)="saveCard()">
                <div class="row m-0 w-100 mb-5 item-align-center">
                    <div id="cardElement" class="w-100"></div>
                </div>
                <div class="w-100 m-0">
                    <div id="card-errors" class="color-torch-red" role="alert"></div>
                    <button type="submit" class="font-15 save-card font-weight-bold color-burning-orange text-left ion-float-right">
                        Add New Card
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="bottom shadow row m-0 -w100" >
    <div class="pay row w-100 mx-20 my-25 item-align-center bg-color-burning-orange" (click)="pay()">
        <h3 class="font-17 color-white font-weight-bold ion-text-md-capitalize m-0">Pay {{menuService.order.currentPrice | currency:'GBP'}}</h3>
    </div>
</div>
